# Python libraries
numpy
scipy
matplotlib
ipympl
pandas
seaborn
statsmodels
pandas-datareader
requests
tqdm
tabulate

# Finance
yahoo_fin
alpha_vantage

# Deep Learning framework
torch
tensorboard

# OpenAI Gym RL framework
gym
